<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
{% extends 'todo/base.html' %}

{% block content %}

{{ error }}
<b><u>
{{todo.title}}:

</u>
</b>

<form method= 'POST'>
  {% csrf_token %}
{{ form.as_p }}
<button type='submit'>Save</button>
</form>

<form method= 'POST' action="{% url 'completetodo' todo.id %}">
  {% csrf_token %}
<button type='submit'>Complete</button>
</form>

<form method= 'POST' action="{% url 'deletetodo' todo.id %}">
  {% csrf_token %}
<button type='submit'>Delete</button>
</form>


{% endblock %}
